[submodule "qtmoko-apps"]
	path = qtmoko-apps
	url = git://github.com/radekp/qtmoko-apps.git
[submodule "qtopiacore/qt"]
	path = qtopiacore/qt
	url = git://github.com/radekp/qt.git
[submodule "src/3rdparty/applications/nerongps"]
	path = src/3rdparty/applications/nerongps
	url = git://github.com/radekp/NeronGPS.git
[submodule "src/3rdparty/applications/arora"]
	path = src/3rdparty/applications/arora
	url = git://github.com/radekp/arora-neo.git
[submodule "src/3rdparty/applications/omhacks"]
	path = src/3rdparty/applications/omhacks
	url = git://github.com/radekp/omhacks.git
