[Translation]
File=QtopiaSettings
Context=Profiles
[Desktop Entry]
Type=Application
Exec=profileedit
Icon=profileedit/Note
Name[]=Ringtones and profiles
CanFastload=0
Comment[]=Phone profile application
