[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Resume X
Exec=qterminal -c resumex.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Resume X
	
