[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Autorotation on
Exec=autorotation-on.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Autorotation on
