[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Turn on GPS
Exec=qterminal -c gps-poweron.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Turn on GPS
