[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Start gsm bt audio fix
Exec=gsm-bt-fix-start.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Start gsm bt audio fix
    
