[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Suspend X
Exec=suspendx.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Suspend X
	
