[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=USB mass storage off
Exec=qterminal -c usb-mass-storage-off.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=USB mass storage off
