Source: qtmoko
Section: comm
Priority: optional
Maintainer: Radek Polak <psonek2@seznam.cz>
Build-Depends: debhelper (>= 7.0.50~), libxext-dev, libasound2-dev, libdbus-1-dev, libssl-dev, libts-dev, libbluetooth-dev, libxtst-dev, libpng12-dev, libjpeg8-dev
Standards-Version: 3.9.2
Homepage: http://www.qtmoko.org
Vcs-Git: git://github.com/radekp/qtmoko.git
Vcs-Browser: https://github.com/radekp/qtmoko

Package: qtmoko-gta04
Provides: qtmoko
Conflicts: qtmoko
Architecture: any
Depends: libasound2, libc6, libdbus-1-3, libgcc1, libjpeg8, libpng12-0, libspeexdsp1, libstdc++6, libts-0.0-0, libx11-6, libxtst6, zlib1g, bluez-alsa, ttf-dejavu, sqlite3, psmisc, alsa-utils, ntpdate
Description: Smartphone environment based on QT Extended - GTA04 flavor
 QtMoko provides a fully integrated phone stack plus smartphone environment
 for Linux based smartphones.
 .
 It is a fork of the discontinued Qt Extended product from Nokia.
 .
 Supported devices are those of the Openmoko community:
 * Neo 1973
 * Neo Freerunner
 * GTA04
 .
 This package ships the GTA04 flavor of QtMoko.

Package: qtmoko-neo
Provides: qtmoko
Conflicts: qtmoko
Architecture: any
Depends: libasound2, libc6, libdbus-1-3, libgcc1, libjpeg8, libpng12-0, libstdc++6, libts-0.0-0, libx11-6, libxtst6, zlib1g, bluez-alsa, ttf-dejavu, sqlite3, psmisc, alsa-utils, ntpdate
Description: Smartphone environment based on QT Extended - Neo FreeRunner flavor
 QtMoko provides a fully integrated phone stack plus smartphone environment
 for Linux based smartphones.
 .
 It is a fork of the discontinued Qt Extended product from Nokia.
 .
 Supported devices are those of the Openmoko community:
 * Neo 1973
 * Neo Freerunner
 * GTA04
 .
 This package ships the Neo FreeRunner flavor of QtMoko.
