[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=GPS standby leave
Exec=gps-standby-leave.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=GPS standby leave
