[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Stop gsm bt audio fix
Exec=gsm-bt-fix-stop.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Stop gsm bt audio fix
	
