[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Share GPS connection with PC
Exec=share-gprs.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Share GPRS with PC
