[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Wifi maxperf off
Exec=wifi-maxperf-off.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Wifi maxperf off
